@model UpdateCarDto

@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Arac Guncelleme Sayfasi</h4>
                        <p class="card-subtitle mb-4">Arac ile ilgili temel bilgileri eksiksiz doldurmaniz onemlidir.Veri girislerinden sonra kaydet butonuna tiklayarak guncelleme islemini tamamlayabilirsiniz.</p>

                        <form method="post">
                            <input type="hidden" asp-for="CarId" />
                            <div class="form-group">
                                <label for="exampleInputBrand">Marka</label>
                                @Html.DropDownListFor(x=>x.BrandID,(List<SelectListItem>)ViewBag.BrandValues,new{@class="form-control"})
                            </div>
                            <div class="form-group">
                                <label for="exampleInputModel">Model</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Model" placeholder="Model Gırısı Yapınız">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputCoverImage">Kapak Fotografi</label>
                                <input type="text" class="form-control" id="exampleInputCoverImage" asp-for="CoverImageUrl" placeholder="Kapak Fotograf Linkini Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputKm">Km</label>
                                <input type="text" class="form-control" id="exampleInputKm" asp-for="Km" placeholder="Km Bilgisi Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputTransmission">Vites Turu</label>
                                <input type="text" class="form-control" id="exampleInputTransmission" asp-for="Transmission" placeholder="Vites Turunu Yaziniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputSeat">Koltuk Sayisi</label>
                                <input type="number" class="form-control" id="exampleInputSeat" asp-for="Seat" placeholder="Koltuk Sayisini Seciniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputLuggage">Bagaj Sayisi</label>
                                <input type="number" class="form-control" id="exampleInputLuggage" asp-for="Luggage" placeholder="Bagaj Sayisini Seciniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFuel">Yakit Turu</label>
                                <input type="text" class="form-control" id="exampleInputFuel" asp-for="Fuel" placeholder="Yakit Turunu Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputLuggage">Buyuk Kapak Fotografi</label>
                                <input type="text" class="form-control" id="exampleInputLuggage" asp-for="BigImageUrl" placeholder="Arac Detayinda Gozukecek Kapak Fotograf Linki">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Araci Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->
    <!-- end col -->
</div>
<!-- end page title -->
@*<div class="card">
    <div class="card-body">

        <h4 class="card-title">Basic Forms</h4>
        <p class="card-subtitle mb-4">Here’s a quick example to demonstrate Bootstrap’s form styles. Keep reading for documentation on required classes, form layout, and more.</p>

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkmeout0">
                    <label class="custom-control-label" for="checkmeout0">Check me out !</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
        </form>

    </div> <!-- end card-body-->
</div> <!-- end card-->*@

